{% extends 'base.html.twig' %}

{% block title %}Adress{% endblock %}

{% block body %}
    <h1>Adress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ adress.fullName }}</td>
            </tr>
            <tr>
                <th>Campany</th>
                <td>{{ adress.campany }}</td>
            </tr>
            <tr>
                <th>Complement</th>
                <td>{{ adress.complement }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ adress.phone }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adress.city }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ adress.postal }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ adress.country }}</td>
            </tr>
            <tr>
                <th>NomDeRue</th>
                <td>{{ adress.nomDeRue }}</td>
            </tr>
            <tr>
                <th>NumeroDeRue</th>
                <td>{{ adress.numeroDeRue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adress_index') }}">back to list</a>

    <a href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>

    {{ include('adress/_delete_form.html.twig') }}
{% endblock %}
